<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/vishalgr/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="vishalgr" />
            <add key="ClearTextPassword" value="b08ef047cedcbc06c5ceea81125f7f5a2f84c90b
    </packageSourceCredentials>
</configuration>
