<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/vishalgr/index.json" />
        <add key="NuGet v2" value="https://www.nuget.org/api/v2/" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="vishalgr" />
            <add key="ClearTextPassword" value="2f70043c2bc6bb6f36ae558d4835310c297cb0f8" />
        </github>
    </packageSourceCredentials>
</configuration>
