<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/vishalgr/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="vishalgr" />
            <add key="ClearTextPassword" value="0de85d1f41681c6724117efb13c9990d4c84d9ea" />
        </github>
    </packageSourceCredentials>
</configuration>
